<Layouts.flash_group flash={@flash} />
<.page_layout path={Application.get_env(:website, :owner_name)}>
  <:index>
    <ul class="space-y-1">
      <li data-nav-item><a href="/projects" class="nav-link">projects/</a></li>
      <li data-nav-item><a href="/tests" class="nav-link">tests/</a></li>
    </ul>
  </:index>
</.page_layout>
