<Layouts.flash_group flash={@flash} />
<.page_layout back="/" path={Application.get_env(:website, :owner_name) <> "/projects/"}>
  <:index>
    <.project_nav categories={@project_categories} selected={@selected_project} />
  </:index>
  <:content>
    <.project_content project={@selected_project} github_stats={@github_stats} />
  </:content>
</.page_layout>
